{% extends 'base.html' %}

{% block title %}О нас - Pigeon Messenger{% endblock %}

{% block content %}
<div class="container my-5">
    <h1>Pigeon Messenger — современный мессенджер для командного общения.</h1>

    <h1>🔹 О проекте</h1>
    <p>Pigeon Messenger — это веб-мессенджер с чат-комнатами, защищённой перепиской и уведомлениями в реальном времени.
Проект разработан для удобного общения в группах, рабочих командах или личных беседах.</p>
<h1>Основные возможности:</h1>
<p> ✓ Чат в реальном времени (WebSocket)</p>
<p> ✓ Групповые и приватные комнаты</p>
<p> ✓ Двухфакторная аутентификация (2FA)</p>
<p> ✓ История сообщений (REST API + PostgreSQL)</p>
<p> ✓ Уведомления (WebPush, звуковые оповещения)</p>
<p> ✓ Адаптивный дизайн (под ПК и смартфоны)</p>
<h1>Технологии:</h1>
<p> • Backend: Django, Django REST Framework, Django Channels (WebSocket)</p>
<p> • Frontend: React, Redux (или Context API), StompJS/SockJS</p>
<p> • База данных: PostgreSQL</p>
<p> • Кеширование: Redis</p>
<p> • Деплой: Docker, Nginx</p>
<h1>Разработчики</h1>
<p> Анисимов Александр</p>
<p>Роль: Архитектура, Backend (Django), WebSocket,  Frontend (React), UI/UX</p>
</div>
{% endblock %}